.app{
  padding: 10px;
  max-width: 100%;

}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;


}
.list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  max-width: 100%;
  flex-wrap: wrap;
  margin:10px 0 ;
}
.container-card{
  border: .5px solid  #203040;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  direction: rtl;
  position: relative;
  margin-top: 20px;


}
.card-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title{
  display: flex;
  flex-direction: column;
}
.card-logo{
  width: 70px;

}
.card-head span{
  font-size: 12px;
  font-weight: 600;

}
.card-name{
  width: 100%;
  text-align: center;
}
.card-footer{
  display: flex;
  flex-direction: column ;
  gap: 10px;
}
.btn-delelt{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;

}
.container-card:hover .btn-delelt{
  display: block;
}
@media screen and (max-width:600px){
  .input{
   max-width: 100%;
    flex-direction: column;
  }
  
}